/* Esconde o input */
.selecao-arquivo {
    display: none
}
.content-loader-all{
    background: white;
    width: 100%;
    height: 100%;
}
/* Aparência que terá o seletor de arquivo */
.label-img-pedido {
    border: 2px solid #3498db;
    color: #3498db !important;
    cursor: pointer;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10rem !important;
}

.loader{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
    display:  flex;
    align-items:  center;
    justify-content:  center;
}

.loader-all{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* LOADER 1 */

#loader-1:before, #loader-1:after{
    content: "";
    position: absolute;
    /* top: -10px; */
    /* left: -10px; */
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 10px solid transparent;
    border-top-color: #3498db;
}

#loader-1:before{
    z-index: 100;
    animation: spin 1s infinite;
}

#loader-1:after{
    border: 10px solid #ccc;
}

@keyframes spin{
    0%{
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100%{
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.error-text{
    color: red !important;
}
.processo-text{
    color: blue !important;
}
.center{
    margin-left: 40%
}
.col-md-12{

}
.col-md-6{
    width: 30%;
    float: left;

}
.col-md-6 div{

}
.col-md-4{
    width: 27%;
    float: left;

}
.col-md-4 div{

}
.row{
    width: 100%;
}
th{
    text-align: center;
}
td{
    text-align: center;

}
b{
    font-weight: 900;
}
